<!-- Sets base layout and typograghy -->
body {
  font-family: Montserrat, inter;
  max-width:900px;
  margin: 40px auto;
  padding: 0 20px
  line-height: 1.6;
}

<!-- navigation styling -->
nav {
  margin-bottom: 40px;
}

.nav {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

.nac a:hover {
  text-decoration: underline;
}
<!-- headings and spacing -->
h1, h2 {
  margin-top: 1.5em;
}

<!--Blockquote used to capture interview participants voice vs my own  -->
blockquote {
  margin; 20px 0;
  padding-left: 15px;
  border-left: 3px solid #ccc;
  color: #444;
  }

<!-- this styling will be used for my own voice/interpretations -->
.analysis {
  color; #555;
  font-size: 0.95em;
}
  




